<a href="https://colab.research.google.com/github/raju1207/Multiple-Disease-Prediction-Analysis/blob/main/Multiple_Disease_Prediction_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle as pkl
import statsmodels.api as sm
import plotly.express as px
import plotly.graph_objects as go

In [4]:
Liver_Data = pd.read_excel('indian_liver_patient.xlsx')
Liver_Data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [5]:
Liver_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [6]:
Liver_Data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [7]:
Liver_Data = Liver_Data.bfill()

In [8]:
Liver_Data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [9]:
Liver_Data["Dataset"].unique()

array([1, 2])

In [10]:
Liver_Data["Dataset"].value_counts()

Dataset
1    416
2    167
Name: count, dtype: int64

In [11]:
Liver_Data["Dataset"] = Liver_Data["Dataset"]=1

In [15]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
Liver_Data['Gender'] = encoder.fit_transform(Liver_Data[['Gender']])
Liver_Data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,0.0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1.0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1.0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1.0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1.0,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,1.0,0.5,0.1,500,20,34,5.9,1.6,0.37,1
579,40,1.0,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,1.0,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,1.0,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,1.0,1.0,0.3,216,21,24,7.3,4.4,1.50,1

In [16]:
x = Liver_Data.iloc[:,:-1] # Independent Coloum
y = Liver_Data.iloc[:,-1]  # Dependent Coloum

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size = 0.1)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((524, 10), (59, 10), (524,), (59,))

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [19]:
y_train.value_counts()

Dataset
1    524
Name: count, dtype: int64

In [ ]:
#Logistic Regression

x = sm.add_constant(x)
model = sm.Logit(y,x).fit()
model.summary()

NameError: name 'sm' is not defined

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier().fit(x_train,y_train)
y_pred = model1.predict(x_test)
print(classification_report(y_test,y_pred))

In [ ]:
from xgboost import XGBClassifier
model2 = XGBClassifier().fit(x_train,y_train)
y_pred = model2.predict(x_test)
print(classification_report(y_test,y_pred))

In [ ]:
# Dataset Upload

Par_Data = pd.read_excel('parkinsons.xlsx')
Par_Data

In [ ]:
Par_Data.info()

In [ ]:
#Check for missing values

Par_Data.isnull().sum()

In [ ]:
# Checking duplicate value

Par_Data.duplicated().sum()

In [ ]:
# Convert column names to lowercase and replace special characters with underscores

rename_data = Par_Data.rename(columns=lambda x: x.lower().replace(':', '_').replace('(', '').replace(')', '').replace(' ', '_'))

In [ ]:
print(rename_data.head())

In [ ]:
rename_data.info()